USE [master]
GO
/****** Object:  Database [QUANLYQUANAN]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE DATABASE [QUANLYQUANAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYQUANAN', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QUANLYQUANAN.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QUANLYQUANAN_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QUANLYQUANAN_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYQUANAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYQUANAN]
GO
/****** Object:  StoredProcedure [dbo].[InHoaDon]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	create proc [dbo].[InHoaDon] @MaHD varchar(50)
	as
		begin
			select ISNULL(A.SOLUONG,0) as SoLuongDat,m.MAMONAN
			from (
				  select ct.MAMONAN,ct.SOLUONG
				  from HOADON hd,CHITIETHOADON ct
				  where ct.MAHD=hd.MAHD and hd.MAHD= @MaHD
				  ) as A
				  right join MONAN m
				  on A.MAMONAN=m.MAMONAN
				  order by m.MAMONAN

		end
GO
/****** Object:  Table [dbo].[BANAN]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANAN](
	[MABANAN] [int] NOT NULL,
	[TENBANAN] [varchar](10) NULL,
 CONSTRAINT [PK_BANAN] PRIMARY KEY CLUSTERED 
(
	[MABANAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETGIA]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETGIA](
	[MANGUYENLIEU] [char](10) NOT NULL,
	[MAGIA] [char](10) NOT NULL,
	[NGAYCAPNHAT] [datetime] NULL,
 CONSTRAINT [PK_CHITIETGIA] PRIMARY KEY CLUSTERED 
(
	[MANGUYENLIEU] ASC,
	[MAGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MA_CTHD] [varchar](16) NOT NULL,
	[MAHD] [varchar](10) NOT NULL,
	[MAMONAN] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MA_CTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETKHUYENMAI]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETKHUYENMAI](
	[MAMONAN] [varchar](10) NOT NULL,
	[MAKHUYENMAI] [char](10) NOT NULL,
	[THOIGIANKHUYENMAI] [datetime] NULL,
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK_CHITIETKHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MAMONAN] ASC,
	[MAKHUYENMAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MANGUYENLIEU] [char](10) NOT NULL,
	[MAPHIEUNHAP] [char](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK_CHITIETPHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MANGUYENLIEU] ASC,
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONGTHUCMONAN]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONGTHUCMONAN](
	[MANGUYENLIEU] [char](10) NOT NULL,
	[MAMONAN] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[CACHDUNG] [varchar](200) NULL,
 CONSTRAINT [PK_CONGTHUCMONAN] PRIMARY KEY CLUSTERED 
(
	[MANGUYENLIEU] ASC,
	[MAMONAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CUNGUNGNGUYENLIEU]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUNGUNGNGUYENLIEU](
	[MANHACUNGCAP] [char](10) NOT NULL,
	[MANGUYENLIEU] [char](10) NOT NULL,
	[THOIGIAN] [datetime] NULL,
 CONSTRAINT [PK_CUNGUNGNGUYENLIEU] PRIMARY KEY CLUSTERED 
(
	[MANHACUNGCAP] ASC,
	[MANGUYENLIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DONVITINH]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONVITINH](
	[MADONVI] [char](10) NOT NULL,
	[TENDONVI] [varchar](10) NULL,
 CONSTRAINT [PK_DONVITINH] PRIMARY KEY CLUSTERED 
(
	[MADONVI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIAMONAN]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAMONAN](
	[MAGIA] [varchar](10) NOT NULL,
	[MAMONAN] [varchar](10) NULL,
	[NGAYCAPNHAT] [date] NULL,
	[DONGIA] [money] NULL,
 CONSTRAINT [PK_GIAMONAN] PRIMARY KEY CLUSTERED 
(
	[MAGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIANGUYENLIEU]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIANGUYENLIEU](
	[MAGIA] [char](10) NOT NULL,
	[DONGIA] [money] NULL,
 CONSTRAINT [PK_GIANGUYENLIEU] PRIMARY KEY CLUSTERED 
(
	[MAGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](10) NOT NULL,
	[MAKHACHHANG] [char](10) NULL,
	[MANHANVIEN] [char](10) NULL,
	[MABANAN] [int] NOT NULL,
	[NGAYGIO] [datetime] NULL,
	[TINHTRANG] [bit] NULL,
	[TONGTIEN] [money] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [char](10) NOT NULL,
	[TENKHACHHANG] [varchar](30) NULL,
	[GIOITINH] [char](5) NULL,
	[NAMSINH] [datetime] NULL,
	[DIACHI] [varchar](20) NULL,
	[SDT] [numeric](11, 0) NULL,
	[MATKHAU] [varchar](20) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKHUYENMAI] [char](10) NOT NULL,
	[TENKHUYENMAI] [varchar](100) NULL,
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MAKHUYENMAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MAHINH]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MAHINH](
	[MAMH] [char](10) NOT NULL,
	[TENMH] [varchar](20) NULL,
	[GHICHU] [varchar](100) NULL,
 CONSTRAINT [PK_MAHINH] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONAN]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONAN](
	[MAMONAN] [varchar](10) NOT NULL,
	[MANHOM] [char](10) NOT NULL,
	[MOTA] [nvarchar](1000) NULL,
	[HINHANH] [varchar](150) NULL,
	[TENMONAN] [nvarchar](50) NULL,
 CONSTRAINT [PK_MONAN] PRIMARY KEY CLUSTERED 
(
	[MAMONAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[MANGUYENLIEU] [char](10) NOT NULL,
	[MADONVI] [char](10) NOT NULL,
	[TENNGUYENLIEU] [varchar](20) NULL,
	[THOIHANSUDUNG] [varchar](10) NULL,
	[BAOQUAN] [varchar](100) NULL,
	[SOLUONGTON] [bigint] NULL,
 CONSTRAINT [PK_NGUYENLIEU] PRIMARY KEY CLUSTERED 
(
	[MANGUYENLIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANHACUNGCAP] [char](10) NOT NULL,
	[TENNHACUNGCAP] [varchar](100) NULL,
	[DIACHI] [varchar](20) NULL,
	[SDT] [numeric](11, 0) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANHACUNGCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [char](10) NOT NULL,
	[HOTENNHANVIEN] [varchar](100) NULL,
	[GIOITINH] [char](5) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [varchar](20) NULL,
	[NGUYENQUAN] [varchar](20) NULL,
	[NGAYVAOLAM] [datetime] NULL,
	[NGAYNGHIVIEC] [datetime] NULL,
	[SDT] [numeric](11, 0) NULL,
	[MATKHAU] [varchar](20) NULL,
	[EMAIL] [varchar](20) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOMMONAN]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHOMMONAN](
	[MANHOM] [char](10) NOT NULL,
	[TENNHOM] [varchar](20) NULL,
 CONSTRAINT [PK_NHOMMONAN] PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOMNGUOIDUNG]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHOMNGUOIDUNG](
	[MANHOMNGUOIDUNG] [char](10) NOT NULL,
	[TENNHOM] [varchar](20) NULL,
	[GHICHU] [varchar](100) NULL,
 CONSTRAINT [PK_NHOMNGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[MANHOMNGUOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MANHOMNGUOIDUNG] [char](10) NOT NULL,
	[MAMH] [char](10) NOT NULL,
	[COQUYNH] [bit] NULL,
 CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[MANHOMNGUOIDUNG] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPHIEUNHAP] [char](10) NOT NULL,
	[MANHANVIEN] [char](10) NOT NULL,
	[NGAYNHAP] [datetime] NULL,
	[TONGTIEN] [money] NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUANLYNHOMNGUOIDUNG]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUANLYNHOMNGUOIDUNG](
	[MANHANVIEN] [char](10) NOT NULL,
	[MANHOMNGUOIDUNG] [char](10) NOT NULL,
	[GHICHU] [varchar](100) NULL,
 CONSTRAINT [PK_QUANLYNHOMNGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC,
	[MANHOMNGUOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TINHTRANGBANAN]    Script Date: 12/5/2018 8:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TINHTRANGBANAN](
	[MATINHTRANG] [char](10) NOT NULL,
	[MABANAN] [int] NOT NULL,
	[TENTINHTRANG] [varchar](10) NULL,
	[THOIGIANBATDAU] [datetime] NULL,
	[THOIGIANKETTHUC] [datetime] NULL,
 CONSTRAINT [PK_TINHTRANGBANAN] PRIMARY KEY CLUSTERED 
(
	[MATINHTRANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BANAN] ([MABANAN], [TENBANAN]) VALUES (1, NULL)
INSERT [dbo].[CHITIETHOADON] ([MA_CTHD], [MAHD], [MAMONAN], [SOLUONG], [THANHTIEN]) VALUES (N'cthd1', N'hd1', N'1', 3, NULL)
INSERT [dbo].[CHITIETHOADON] ([MA_CTHD], [MAHD], [MAMONAN], [SOLUONG], [THANHTIEN]) VALUES (N'cthd10', N'hd3', N'6', 5, NULL)
INSERT [dbo].[CHITIETHOADON] ([MA_CTHD], [MAHD], [MAMONAN], [SOLUONG], [THANHTIEN]) VALUES (N'cthd11', N'hd4', N'7', 4, NULL)
INSERT [dbo].[HOADON] ([MAHD], [MAKHACHHANG], [MANHANVIEN], [MABANAN], [NGAYGIO], [TINHTRANG], [TONGTIEN]) VALUES (N'hd1       ', NULL, NULL, 1, NULL, NULL, NULL)
INSERT [dbo].[HOADON] ([MAHD], [MAKHACHHANG], [MANHANVIEN], [MABANAN], [NGAYGIO], [TINHTRANG], [TONGTIEN]) VALUES (N'hd2       ', NULL, NULL, 1, NULL, NULL, NULL)
INSERT [dbo].[HOADON] ([MAHD], [MAKHACHHANG], [MANHANVIEN], [MABANAN], [NGAYGIO], [TINHTRANG], [TONGTIEN]) VALUES (N'hd3       ', NULL, NULL, 1, NULL, NULL, NULL)
INSERT [dbo].[NHOMMONAN] ([MANHOM], [TENNHOM]) VALUES (N'1         ', N'Nu?ng')
INSERT [dbo].[NHOMMONAN] ([MANHOM], [TENNHOM]) VALUES (N'2         ', N'Súp')
SET ANSI_PADDING ON

GO
/****** Object:  Index [CHITIETGIA_FK]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE NONCLUSTERED INDEX [CHITIETGIA_FK] ON [dbo].[CHITIETGIA]
(
	[MANGUYENLIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CHITIETGIA2_FK]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE NONCLUSTERED INDEX [CHITIETGIA2_FK] ON [dbo].[CHITIETGIA]
(
	[MAGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CHITIETHOADON_FK]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE NONCLUSTERED INDEX [CHITIETHOADON_FK] ON [dbo].[CHITIETHOADON]
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CHITIETHOADON2_FK]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE NONCLUSTERED INDEX [CHITIETHOADON2_FK] ON [dbo].[CHITIETHOADON]
(
	[MAMONAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CHITIETKHUYENMAI_FK]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE NONCLUSTERED INDEX [CHITIETKHUYENMAI_FK] ON [dbo].[CHITIETKHUYENMAI]
(
	[MAMONAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CHITIETKHUYENMAI2_FK]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE NONCLUSTERED INDEX [CHITIETKHUYENMAI2_FK] ON [dbo].[CHITIETKHUYENMAI]
(
	[MAKHUYENMAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CHITIETPHIEUNHAP_FK]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE NONCLUSTERED INDEX [CHITIETPHIEUNHAP_FK] ON [dbo].[CHITIETPHIEUNHAP]
(
	[MANGUYENLIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CHITIETPHIEUNHAP2_FK]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE NONCLUSTERED INDEX [CHITIETPHIEUNHAP2_FK] ON [dbo].[CHITIETPHIEUNHAP]
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CONGTHUCMONAN_FK]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE NONCLUSTERED INDEX [CONGTHUCMONAN_FK] ON [dbo].[CONGTHUCMONAN]
(
	[MANGUYENLIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CONGTHUCMONAN2_FK]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE NONCLUSTERED INDEX [CONGTHUCMONAN2_FK] ON [dbo].[CONGTHUCMONAN]
(
	[MAMONAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CUNGUNGNGUYENLIEU_FK]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE NONCLUSTERED INDEX [CUNGUNGNGUYENLIEU_FK] ON [dbo].[CUNGUNGNGUYENLIEU]
(
	[MANHACUNGCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CUNGUNGNGUYENLIEU2_FK]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE NONCLUSTERED INDEX [CUNGUNGNGUYENLIEU2_FK] ON [dbo].[CUNGUNGNGUYENLIEU]
(
	[MANGUYENLIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [C_FK]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE NONCLUSTERED INDEX [C_FK] ON [dbo].[HOADON]
(
	[MABANAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [HAVE_FK]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE NONCLUSTERED INDEX [HAVE_FK] ON [dbo].[HOADON]
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [HV_FK]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE NONCLUSTERED INDEX [HV_FK] ON [dbo].[HOADON]
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [THU_FK]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE NONCLUSTERED INDEX [THU_FK] ON [dbo].[MONAN]
(
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CO_FK]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE NONCLUSTERED INDEX [CO_FK] ON [dbo].[NGUYENLIEU]
(
	[MADONVI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PHANQUYEN_FK]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE NONCLUSTERED INDEX [PHANQUYEN_FK] ON [dbo].[PHANQUYEN]
(
	[MANHOMNGUOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PHANQUYEN2_FK]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE NONCLUSTERED INDEX [PHANQUYEN2_FK] ON [dbo].[PHANQUYEN]
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [LAP_FK]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE NONCLUSTERED INDEX [LAP_FK] ON [dbo].[PHIEUNHAP]
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [QUANLYNHOMNGUOIDUNG_FK]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE NONCLUSTERED INDEX [QUANLYNHOMNGUOIDUNG_FK] ON [dbo].[QUANLYNHOMNGUOIDUNG]
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [QUANLYNHOMNGUOIDUNG2_FK]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE NONCLUSTERED INDEX [QUANLYNHOMNGUOIDUNG2_FK] ON [dbo].[QUANLYNHOMNGUOIDUNG]
(
	[MANHOMNGUOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HAVES_FK]    Script Date: 12/5/2018 8:41:52 AM ******/
CREATE NONCLUSTERED INDEX [HAVES_FK] ON [dbo].[TINHTRANGBANAN]
(
	[MABANAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETGIA]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETG_CHITIETGI_GIANGUYE] FOREIGN KEY([MAGIA])
REFERENCES [dbo].[GIANGUYENLIEU] ([MAGIA])
GO
ALTER TABLE [dbo].[CHITIETGIA] CHECK CONSTRAINT [FK_CHITIETG_CHITIETGI_GIANGUYE]
GO
ALTER TABLE [dbo].[CHITIETGIA]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETG_CHITIETGI_NGUYENLI] FOREIGN KEY([MANGUYENLIEU])
REFERENCES [dbo].[NGUYENLIEU] ([MANGUYENLIEU])
GO
ALTER TABLE [dbo].[CHITIETGIA] CHECK CONSTRAINT [FK_CHITIETG_CHITIETGI_NGUYENLI]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETH_CHITIETHO_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETH_CHITIETHO_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETH_CHITIETHO_MONAN] FOREIGN KEY([MAMONAN])
REFERENCES [dbo].[MONAN] ([MAMONAN])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETH_CHITIETHO_MONAN]
GO
ALTER TABLE [dbo].[CHITIETKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETK_CHITIETKH_KHUYENMA] FOREIGN KEY([MAKHUYENMAI])
REFERENCES [dbo].[KHUYENMAI] ([MAKHUYENMAI])
GO
ALTER TABLE [dbo].[CHITIETKHUYENMAI] CHECK CONSTRAINT [FK_CHITIETK_CHITIETKH_KHUYENMA]
GO
ALTER TABLE [dbo].[CHITIETKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETK_CHITIETKH_MONAN] FOREIGN KEY([MAMONAN])
REFERENCES [dbo].[MONAN] ([MAMONAN])
GO
ALTER TABLE [dbo].[CHITIETKHUYENMAI] CHECK CONSTRAINT [FK_CHITIETK_CHITIETKH_MONAN]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_CHITIETPH_NGUYENLI] FOREIGN KEY([MANGUYENLIEU])
REFERENCES [dbo].[NGUYENLIEU] ([MANGUYENLIEU])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETP_CHITIETPH_NGUYENLI]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_CHITIETPH_PHIEUNHA] FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAP] ([MAPHIEUNHAP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETP_CHITIETPH_PHIEUNHA]
GO
ALTER TABLE [dbo].[CONGTHUCMONAN]  WITH CHECK ADD  CONSTRAINT [FK_CONGTHUC_CONGTHUCM_MONAN] FOREIGN KEY([MAMONAN])
REFERENCES [dbo].[MONAN] ([MAMONAN])
GO
ALTER TABLE [dbo].[CONGTHUCMONAN] CHECK CONSTRAINT [FK_CONGTHUC_CONGTHUCM_MONAN]
GO
ALTER TABLE [dbo].[CONGTHUCMONAN]  WITH CHECK ADD  CONSTRAINT [FK_CONGTHUC_CONGTHUCM_NGUYENLI] FOREIGN KEY([MANGUYENLIEU])
REFERENCES [dbo].[NGUYENLIEU] ([MANGUYENLIEU])
GO
ALTER TABLE [dbo].[CONGTHUCMONAN] CHECK CONSTRAINT [FK_CONGTHUC_CONGTHUCM_NGUYENLI]
GO
ALTER TABLE [dbo].[CUNGUNGNGUYENLIEU]  WITH CHECK ADD  CONSTRAINT [FK_CUNGUNGN_CUNGUNGNG_NGUYENLI] FOREIGN KEY([MANGUYENLIEU])
REFERENCES [dbo].[NGUYENLIEU] ([MANGUYENLIEU])
GO
ALTER TABLE [dbo].[CUNGUNGNGUYENLIEU] CHECK CONSTRAINT [FK_CUNGUNGN_CUNGUNGNG_NGUYENLI]
GO
ALTER TABLE [dbo].[CUNGUNGNGUYENLIEU]  WITH CHECK ADD  CONSTRAINT [FK_CUNGUNGN_CUNGUNGNG_NHACUNGC] FOREIGN KEY([MANHACUNGCAP])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACUNGCAP])
GO
ALTER TABLE [dbo].[CUNGUNGNGUYENLIEU] CHECK CONSTRAINT [FK_CUNGUNGN_CUNGUNGNG_NHACUNGC]
GO
ALTER TABLE [dbo].[GIAMONAN]  WITH CHECK ADD  CONSTRAINT [FK_GIAMONAN_MONAN] FOREIGN KEY([MAMONAN])
REFERENCES [dbo].[MONAN] ([MAMONAN])
GO
ALTER TABLE [dbo].[GIAMONAN] CHECK CONSTRAINT [FK_GIAMONAN_MONAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_C_BANAN] FOREIGN KEY([MABANAN])
REFERENCES [dbo].[BANAN] ([MABANAN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_C_BANAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_HAVE_KHACHHAN] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_HAVE_KHACHHAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_HV_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_HV_NHANVIEN]
GO
ALTER TABLE [dbo].[MONAN]  WITH CHECK ADD  CONSTRAINT [FK_MONAN_THU_NHOMMONA] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[NHOMMONAN] ([MANHOM])
GO
ALTER TABLE [dbo].[MONAN] CHECK CONSTRAINT [FK_MONAN_THU_NHOMMONA]
GO
ALTER TABLE [dbo].[NGUYENLIEU]  WITH CHECK ADD  CONSTRAINT [FK_NGUYENLI_CO_DONVITIN] FOREIGN KEY([MADONVI])
REFERENCES [dbo].[DONVITINH] ([MADONVI])
GO
ALTER TABLE [dbo].[NGUYENLIEU] CHECK CONSTRAINT [FK_NGUYENLI_CO_DONVITIN]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYE_PHANQUYEN_MAHINH] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MAHINH] ([MAMH])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYE_PHANQUYEN_MAHINH]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYE_PHANQUYEN_NHOMNGUO] FOREIGN KEY([MANHOMNGUOIDUNG])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MANHOMNGUOIDUNG])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYE_PHANQUYEN_NHOMNGUO]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHA_LAP_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHA_LAP_NHANVIEN]
GO
ALTER TABLE [dbo].[QUANLYNHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_QUANLYNH_QUANLYNHO_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[QUANLYNHOMNGUOIDUNG] CHECK CONSTRAINT [FK_QUANLYNH_QUANLYNHO_NHANVIEN]
GO
ALTER TABLE [dbo].[QUANLYNHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_QUANLYNH_QUANLYNHO_NHOMNGUO] FOREIGN KEY([MANHOMNGUOIDUNG])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MANHOMNGUOIDUNG])
GO
ALTER TABLE [dbo].[QUANLYNHOMNGUOIDUNG] CHECK CONSTRAINT [FK_QUANLYNH_QUANLYNHO_NHOMNGUO]
GO
ALTER TABLE [dbo].[TINHTRANGBANAN]  WITH CHECK ADD  CONSTRAINT [FK_TINHTRAN_HAVES_BANAN] FOREIGN KEY([MABANAN])
REFERENCES [dbo].[BANAN] ([MABANAN])
GO
ALTER TABLE [dbo].[TINHTRANGBANAN] CHECK CONSTRAINT [FK_TINHTRAN_HAVES_BANAN]
GO
USE [master]
GO
