
@{
    ViewBag.Title = "ChooseTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section TableCSS{
    <link rel="stylesheet" type="text/css" href="~/Content/table.css">
}

<div class="container">
    <div id="choosing-table">
        <table class="table table-borderless">
            <tbody>

                <tr>
                    <td>
                        <div class="table-item item">Bàn 1</div>
                    </td>
                    <td>
                        <div class="busy-table-item item">Bàn 2</div>
                    </td>
                    <td>
                        <div class="table-item item">Bàn 3</div>
                    </td>
                    <td>
                        <div class="ordered-table-item item">Bàn 4</div>
                    </td>
                    <td>
                        <div class="table-item item item">Bàn 5</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="ordered-table-item item">Bàn 1</div>
                    </td>
                    <td>
                        <div class="table-item item">Bàn 2</div>
                    </td>
                    <td>
                        <div class="table-item item">Bàn 3</div>
                    </td>
                    <td>
                        <div class="ordered-table-item item">Bàn 4</div>
                    </td>
                    <td>
                        <div class="table-item item">Bàn 5</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="table-item item">Bàn 1</div>
                    </td>
                    <td>
                        <div class="ordered-table-item item">Bàn 2</div>
                    </td>
                    <td>
                        <div class="table-item item">Bàn 3</div>
                    </td>
                    <td>
                        <div class="ordered-table-item item">Bàn 4</div>
                    </td>
                    <td>
                        <div class="ordered-table-item item">Bàn 5</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="table-item item">Bàn 1</div>
                    </td>
                    <td>
                        <div class="busy-table-item item">Bàn 2</div>
                    </td>
                    <td>
                        <div class="table-item item">Bàn 3</div>
                    </td>
                    <td>
                        <div class="table-item item">Bàn 4</div>
                    </td>
                    <td>
                        <div class="table-item item">Bàn 5</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="table-item item">Bàn 1</div>
                    </td>
                    <td>
                        <div class="table-item item">Bàn 2</div>
                    </td>
                    <td>
                        <div class="busy-table-item item">Bàn 3</div>
                    </td>
                    <td>
                        <div class="busy-table-item item">Bàn 4</div>
                    </td>
                    <td>
                        <div class="table-item item">Bàn 5</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="table-item item">Bàn 1</div>
                    </td>
                    <td>
                        <div class="busy-table-item item">Bàn 2</div>
                    </td>
                    <td>
                        <div class="table-item item">Bàn 3</div>
                    </td>
                    <td>
                        <div class="table-item item">Bàn 4</div>
                    </td>
                    <td>
                        <div class="table-item item">Bàn 5</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="table-item item">Bàn 1</div>
                    </td>
                    <td>
                        <div class="table-item item">Bàn 2</div>
                    </td>
                    <td>
                        <div class="table-item item">Bàn 3</div>
                    </td>
                    <td>
                        <div class="table-item item">Bàn 4</div>
                    </td>
                    <td>
                        <div class="table-item item">Bàn 5</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="description">
            <ul>
                <li>
                    <div class="ordered-table table-icon"></div>
                    <span>Đã được đặt</span>
                </li>
                <li>
                    <div class="free-table table-icon"></div>
                    <span>Đang trống</span>
                </li>
                <li>
                    <div class="busy-table table-icon"></div>
                    <span>Đang đặt</span>
                </li>
            </ul>
        </div>
        <div class="text-center action">
            <ul>
                <li><a href="#" class="btn btn-primary">Đặt bàn</a></li>
            </ul>
        </div>
    </div>
</div>

