
@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CartCSS{
    <link rel="stylesheet" type="text/css" href="~/Content/cart.css">
}

@model Restaurant.ViewModel.Cart.CartViewModel

<div class="container">
    <div id="booked-food">
        @if (Model != null)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Foods)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.Quantity</td>
                            <td> giá</td>
                            <td>tiền</td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="#" class="btn btn-primary" style="margin:10% 40%">Đặt hàng</a>
        }
        else
        {
            <h3>Không có sản phẩm</h3>
        }
    </div>
</div>

