
@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CartCSS{
    <link rel="stylesheet" type="text/css" href="~/Content/cart.css">
}

@model Restaurant.ViewModel.Cart.CartViewModel

<div class="container">
    <div id="booked-food">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Foods)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.Quantity</td>
                        <td> giá</td>
                        <td>tiền</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

